<div class="form-container">
  <form [formGroup]="reactiveForm" (ngSubmit)="onFormSubmitted()" class="form">
    <div class="margin-container">
      <div class="title">Registration Form</div>
      <div class="name column">
        <div class="first-name col-common">
          <input
            type="text"
            formControlName="firstname"
            placeholder="First Name"
          />
          <div
            class="error-msg"
            *ngIf="
              reactiveForm.get('firstname').invalid &&
              reactiveForm.get('firstname').touched
            "
          >
            *First Name is required
          </div>
        </div>
        <div class="last-name col-common">
          <input
            type="text"
            formControlName="lastname"
            placeholder="Last Name"
          />
          <div
            class="error-msg"
            *ngIf="
              reactiveForm.get('lastname').invalid &&
              reactiveForm.get('lastname').touched
            "
          >
            *Last Name is required
          </div>
        </div>
      </div>
      <div class="email">
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          title="Email must end with @gmail.com"
        />
      </div>
      <div
        class="error-msg"
        *ngIf="
          reactiveForm.get('email').errors?.['required'] && reactiveForm.get('email').touched
        "
      >
        *Email is required
      </div>
      <div
        class="error-msg"
        *ngIf="reactiveForm.get('email').touched&&reactiveForm.get('email').errors?.['pattern']"
      >
        Email must end with @gmail.com
      </div>
      <div class="user-dob column">
        <div class="username col-common">
          <input
            type="text"
            formControlName="username"
            placeholder="Username"
            title="username starts with letter followed by special character and ends with digit"
          />
          <div
            class="error-msg"
            *ngIf="reactiveForm.get('username').errors?.['user']"
          >
            Username already exists.
          </div>
        </div>
        <div class="dob col-common">
          <input type="date" formControlName="dob" />
        </div>
      </div>
      <div class="user-button">
        <button
          type="button"
          [disabled]="
            this.reactiveForm.get('firstname').invalid ||
            this.reactiveForm.get('lastname').invalid ||
            this.reactiveForm.get('dob').invalid
          "
          (click)="onCreateUsernameButtonClicked()"
        >
          Create Username
        </button>
      </div>
      <div class="gender">
        <div class="heading">Gender</div>
        <div class="radio-buttons">
          <div>
            <input
              id="male"
              formControlName="gender"
              name="gender"
              type="radio"
              value="male"
            /><label for="male">Male</label>
          </div>
          <div>
            <input
              type="radio"
              formControlName="gender"
              name="gender"
              id="female"
              value="female"
            /><label for="female">Female</label>
          </div>
          <div>
            <input
              type="radio"
              name="gender"
              formControlName="gender"
              id="others"
              value="others"
            /><label for="others">Others</label>
          </div>
        </div>
      </div>
      <div
        class="address"
        formGroupName="address"
        [ngStyle]="{ border: 'none' }"
      >
        <div class="add-title">Address</div>
        <div class="street1">
          <input
            type="text"
            formControlName="street1"
            placeholder="Street address"
          />
        </div>
        <div
          class="error-msg"
          *ngIf="
            reactiveForm.get('address').get('street1').touched &&
            reactiveForm.get('address').get('street1').invalid
          "
        >
          *Street1 is required
        </div>
        <div class="street2">
          <input
            type="text"
            formControlName="street2"
            placeholder="Street address line 2"
          />
        </div>
        <div class="country-city column">
          <div class="country col-common">
            <select name="country" id="" formControlName="country">
              <option value="India">India</option>
              <option value="Australia">Australia</option>
              <option value="Nepal">Nepal</option>
              <option value="Bhutan">Bhutan</option>
            </select>
            <div
              class="error-msg"
              *ngIf="
                reactiveForm.get('address').get('country').invalid &&
                reactiveForm.get('address').get('country').touched
              "
            >
              *Country is required
            </div>
          </div>
          <div class="city col-common">
            <input type="text" formControlName="city" placeholder="City" />
            <div
              class="error-msg"
              *ngIf="
                reactiveForm.get('address').get('city').invalid &&
                reactiveForm.get('address').get('city').touched
              "
            >
              *City is required
            </div>
          </div>
        </div>
        <div class="region-pin column">
          <div class="region col-common">
            <input type="text" formControlName="region" placeholder="Region" />
          </div>
          <div class="pin col-common">
            <input
              type="text"
              formControlName="pincode"
              placeholder="Postal Code"
              title="only numbers are allowed"
            />
            <div
              class="error-msg"
              *ngIf="
                reactiveForm.get('address').get('pincode').errors?.['required'] &&
                reactiveForm.get('address').get('pincode').touched
              "
            >
              *Pincode is required
            </div>
            <div
              class="error-msg"
              *ngIf="
                reactiveForm.get('address').get('pincode').touched&&
                reactiveForm.get('address').get('pincode').errors?.['pattern']
                 
              "
            >
              Pincode only contains numbers
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="skills" formArrayName="skills">
        <div
          class="skills1"
          *ngFor="
            let formControl of reactiveForm.get('skills')['controls'];
            let i = index
          "
        >
          <input type="text" [formControlName]="i" placeholder="Add Skill..." />
        </div>
        <div class="skill-button" style="margin-top: 8px">
          <button
            type="button"
            [style]="{ width: '130px' }"
            (click)="onAddSkillsButtonClicked()"
          >
            Add Skills
          </button>
        </div>
      </div>
      <div class="experience-container" formArrayName="job">
        <div
          class="experience"
          *ngFor="
            let group of reactiveForm.get('job')['controls'];
            let i = index
          "
          [formGroupName]="i"
        >
          <div class="exp-no">
            <b>Experience{{ i + 1 }}</b>
          </div>
          <div class="company">
            <input
              type="text"
              formControlName="company"
              placeholder="Company Name"
            />
          </div>
          <div class="role-year column">
            <div class="role col-common">
              <select name="role" formControlName="role">
                <option value="Software Developer">Software Developer</option>
                <option value="Support Enginner">Support Enginner</option>
                <option value="Technical Lead">Techanical Lead</option>
              </select>
            </div>
            <div class="year col-common">
              <input
                type="number"
                formControlName="experience"
                placeholder="Experience"
              />
            </div>
          </div>
          <div class="start-end column">
            <div class="start col-common">
              <input type="date" formControlName="start" />
            </div>
            <div class="end col-common">
              <input type="date" formControlName="end" />
            </div>
          </div>
          <div class="exp-button">
            <button type="button" (click)="onDeleteExperienceButtonClicked(i)">
              Delete Experience
            </button>
          </div>
        </div>
      </div>
      <div class="add-exp">
        <button type="button" (click)="onAddExperienceButtonClicked()">
          Add Experience
        </button>
      </div>
      <div>
        <input type="checkbox" id="checkbox" formControlName="checkbox" />
        <label [style]="{ color: 'orange' }" for="checkbox"
          >I have read all the <b>Terms</b> and <b>Conditions</b></label
        >
      </div>
      <div class="form-button"><button>Submit</button></div>
    </div>
  </form>
</div>
<div class="card-container" *ngIf="cardStatus">
  <div class="card">
    <div class="card-short-name">
      {{ this.formData.firstname.charAt(0)
      }}{{ this.formData.lastname.charAt(0) }}
    </div>
    <div class="card-details">
      <div class="card-name">
        {{ this.formData.firstname }} {{ this.formData.lastname }}
      </div>
      <div class="card-line"></div>
      <div class="card-email"><b>Email:</b>{{ formData.email }}</div>
      <div class="card-username"><b>Username:</b>{{ formData.username }}</div>
      <div class="card-dob"><b>Date of Birth:</b>{{ formData.dob }}</div>
      <div class="address"><b>Address</b></div>
      <div class="card-line"></div>
      <div class="add-details">
        <b
          >{{ formData.address.country }}. {{ formData.address.city }}.
          {{ formData.address.street1 }}. {{ this.formData.address.pincode }}</b
        >
      </div>
    </div>
  </div>
</div>
